@charset "UTF-8";
 .content_h1,.content_h3{
	text-align: center;
	/* margin-top: -20; */
	margin-right: 5px;
	padding: 52px;
} 
.content_h1{
	
}
/* 테이블 */
table{
	width : 1000px;
 	text-align: center;
	border-spacing: 0;
	border-color: #bcbcbc;
	font-family: 'Noto Sans KR', sans-serif;
	margin-left: 500px;
	margin-right: 650px;
}

/* 변경버튼 */
input{
	height: 28px;
	background-color:#bcbcbc; /* 버튼색 */
	border-color: #bcbcbc;
	border-style: solid;
	border-width: thin;
	border-radius: 13px;
	font-weight: bold;
}

/* 목록링크 */
.returnolist{
	padding-top:1px;
	text-decoration: none;
	color: black; 
	text-align: center;
}
.returnolist:hover{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
div.a{
	height:30px;
	text-align: center; 
	border-radius: 10px;
	background-color: #bcbcbc;
	width: 50px;
	height: 25px;
	margin-left: 950px;
}


