footer{
	display: block;
}
.inner{
	width: 1100px;
	margin: 0 auto;
}
.footer_container{
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.flex{
	display: flex;
	justify-content: space-evenly;
}
.footer_div{
	width: 100%; 
	/* height: 100%; */ /* 없는 게 나음 */
	border-right: 1px solid #ddd;
}
.footer_div:last-child{
	border-right: none;
}
dl{
	display: block;
	padding: 10px;
	margin-left: 20px;
	margin-bottom: 25px;
}
dt{
	display: block;
	color: black;
	margin: 10px 0px 10px;
	font-weight: bolder;
	font-size: 15px;
	padding-bottom: 10px;
}
dt>a{
	color: black;
}
dt>a:hover{
	color: #AF0006;
}
dd{
	margin-left: 0px;
	font-size: 12px;
	padding-bottom: 8px;
}
dd>a{
	color: black;
}
dd>a:hover{
	color: #AF0006;
}
.footerAtag_container{
	width: 100%;
}
.footer_atag{
	width: 100%;
	height: 100%;
	text-align: center;
}
.footer_atag>a{
	display: inline-block;
	padding: 30px 50px;
	color: black;
	font-weight: bolder;
	font-size: 15px;
}
.footer_atag>a:hover{
	color: #AF0006;
}
.footer-company{
	background-color: black;
	width: 100%;
	justify-content: center;
	text-align: center;
	display: flex;
}
.footer-company div:nth-child(2){
	display: flex;
}
.footer-company-div{
	text-align: left;
	font-size: smaller;
	vertical-align: top;
	color: #9B9B9B;
	margin: 20px 0px 20px;
	display: inline-block;
	padding: 20px 50px;
}
.footer-company-div>img{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 70px;
}
.footer-company>.footer-company-div:last-child>img{
	width: 110px;
	height: 110px;
	position: relative;
	bottom: 24px;
}
.footer-company-div>ul{
	margin: 0px;
	margin-left: 5px;
}
.footer-company-div li{
	line-height: 20px;
}