body {
	margin: 0;
	font-family: Nanum Gothic;
}
.deliveryform {
	width: 550px;
	height: 220px;
	border: 1px solid #ccc;
	margin: 0 auto;
	padding: 10px 30px;
	
}
.label {
	width: 70px;
	border: 1px solid #ccc;
	margin: 3px 3px;
	padding: 2px;
	display: inline-block;
	text-align: right;
}
#btn_checkPhone{
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #3b3b3b;
}
#checkPhoneMessage{
	display: inline-block;
	color: #333;
	font-size: 12px;
	font-style: italic;
	margin: 0;
}
#btn_addr{
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #3b3b3b;
}
.orderSelectList {
	/* border: 1px dotted blue; */
	margin: 5px 5px 5px 30px;
	padding: 0 5px;
}
.selectlist{
	/* border: 2px dotted pink; */
	margin: 0 5px 5px 30px;
	display: inline-block;
	width: 700px;
}	
.selectlist > img{
	/* border: 1px dotted pink; */
	display: inline-block;
	float: left;
}	
.selectprdinfo{
	/* border: 2px solid red; */
	display: inline-block;
	float: left;
	margin: 0 5px;
}
#p_name > span{
	margin: 0;
}
#p_color > span{
	float: left;
	font-size: 13px;
	margin: 1px;
}
#p_size > span{
	float: left;
	font-size: 13px;
	margin: 1px;
}
#cnt > span{
	font-size: 13px;
	margin: 1px;
}
#totPrice > span{
	margin: 0;
	font-weight: bold;
}
.selectTotPrice > p{
	/* border: 2px dotted red; */
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}
.selectTotPrice > span{
	/* border: 2px dotted red; */
	display: inline-block;
	font-size: 20px;
	color: #E60023;
	margin: 0 0 0 10px;
}
.btn_payment{
	background: #141414;
	color: #fff;
	width: 200px;
}
.btn-back{
	background: #FFFFFF;
	color: #141414;
	width: 200px;
	margin: 5px 35px;
}
.message-no > p{
	font-size: 13px;
	color: #303030;
	
}
/* .productList>li {
	width: 290px;
	margin: 10px 20px;
 	display: inline-block;
 	padding-top: 5px;
 	border: 2px dotted red;
 	overflow : hidden;
}
.pdtthumbnail {
	margin: 0 auto; 
	padding: 3px;
	border: 1px solid red;	
}
.pdtthumbnail>a>img {
	margin: 0 5px 0 1px ;
	padding: 2px;
	width: 290px;
	
}
.pdtname>a:link {
 	width: 250px;
	height: 5px;
 	font-weight: bold;
 	font-size: 14px;
 	color: #000000;
	border: 1px solid blue;
	
}
.pdtname>a:visited {
	color: #000000;
}
.pdtname>a:hover {
 	width: 200px;
	font-size: 14px;
	color: cyan;
	text-decoration:underline;
}
.pdtprice>p {
 	width: 200px;
	font-size: 12px;
	color: #767677;
}
.pdtthumbnail:hover + .pdtname>a:link {
	text-decoration:underline;
} */
