body {
	margin: 0;
	font-family: Nanum Gothic;
}
a {
	text-decoration: none;
}
.productNormalPackage {
	width: 1500px;
	height: 400px;
	/* border: 1px solid green; */
	margin:0 auto;
	padding: 1px;
	
}
.productList {
	/* border: 1px dotted green; */
	margin: 5px 5px 5px 200px;
	padding: 1px;
}
.productList>li {
	width: 290px;
	margin: 10px 20px;
 	display: inline-block;
 	padding-top: 5px;
 	/* border: 2px dotted red; */
 	/* overflow : hidden; */
}
.pdtthumbnail {
	margin: 0 auto; 
	padding: 3px;
	/* border: 1px solid red;	 */
}
.pdtthumbnail>a>img {
	margin: 0 5px 0 1px ;
	padding: 2px;
	width: 290px;
	
}
.pdtname>a:link {
 	width: 250px;
	height: 5px;
 	font-weight: bold;
 	font-size: 14px;
 	color: #000000;
	/* border: 1px solid blue; */
	
}
.pdtname>a:visited {
	color: #000000;
}
.pdtname>a:hover {
 	width: 200px;
	font-size: 14px;
	/* color: cyan; */
	text-decoration:underline;
}
.pdtprice>p {
 	width: 200px;
	font-size: 12px;
	color: #767677;
}
.pdtthumbnail:hover + .pdtname>a:link {
	text-decoration:underline;
}
