.clear{
	clear: both;
}

/* =============== reviewBoard=============== */
.review_table{
	display: table;
	width: 80%;
	margin-left:auto; 
	margin-right:auto;
}
/* .review_total{
	cursor: pointer;
} */
.row{
	display: table-row; /* tr */
}
.cell{
	display: table-cell; /* td */
	padding: 3px;
	border-bottom: 1px solid #ddd;
}
.col1{
	width: 80%;
	vertical-align: top;
}
.col2{
	width: 20%;
}
.img_box>img{
	width: 100px;
	height: 100px;
}
div{
	height: auto;
}
.user_content:active {

}
.user_content{
	width: 90%;
}
.u_content{
	width: 80%;
	overflow: hidden;
	/* white-space: nowrap; *//* 두줄 이상을 할 수 없음 */
	word-break: break-word;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	cursor: pointer;
}
.u_contentGray{
	/* background-color: #eee; */
	cursor: pointer;
}
.atag{
	display: hidden;
	/* visibility: hidden; */
}



/* =============== reviewWriteview=============== */
.styleClassReviewWriteview{
	opacity: 0;
	display: none;
	position: relative;
	left: 100px;
	width: auto;
	padding: 20px;
	background-color: white;
	
	width: 400px;
	height: 100%;
}

#styleID_ReviewWriteview{
	position: relative;
}
.popup_review_title{
	border-bottom: 3px solid black;
	font-weight: bolder;
}
#title_content{
	padding: 10px;
	top: 50px;
	position: absolute;
}


/* =============== reviewListview=============== */
.reviewListview_total{
	display: table;
	width: 80%;
}
.col11{
	width: 30%;
	vertical-align: top;
}
.col22{
	width: 70%;
}